.NavWrap {
    height: 31px;
    width: 100%;
    line-height: 31px;
    border-top: 1px solid #057b7b;
    border-bottom: 1px solid #058687;
}

.NavWrap li {
    float: left;
    color: whitesmoke !important;
    cursor: pointer;
    padding: 0 14px;
    font-size: 18px;
    min-width: 110px;
}